

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="navbar-header vertical-line">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img id="Loggo" style="height: 160px" src="~/Images/Logos/PgDesignLoggo.png"/></a>


    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav container-fluid justify-content-center">
            <li class="nav-item">
                <a title="Startsida" class="nav-link" href="@Url.Action("Index", "Home")"> Startsida</a>
            </li>
            <li class="nav-item">
                <a title="Mina tidigare jobb" class="nav-link" href="@Url.Action("Index", "Gallery")"> Galleri</a>
            </li>
            <li class="nav-item">
                <a title="Mina tidigare jobb" class="nav-link" href="@Url.Action("Contact", "Home")"> Kontakta oss</a>
            </li>
            <li class="nav-item">
                <a title="Mina tidigare jobb" class="nav-link" href="@Url.Action("Index", "Referenser")"> Referenser</a>
            </li>
        </ul>

    </div>
   
</nav>

