@model pgDesign.ViewModels.WebshopVM
@{
    ViewBag.Title = "WebshopView";
}


<div>
    <div class="header">
    </div>
    <div>
        <div>
            <img src="@Model.Picture_Url" class="center" style="max-height: 400px; margin-top: 50px;" />
        </div>
        <div class="moveright" style="padding-left: 200px;">
            <table class="ml-5" id="information">
                <tr>
                    <td>
                        <h3>@Model.Name</h3>
                    </td>
                    <td>
                        <h3 class="moveright">Pris: @Model.Price</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            @Model.Description
                        </p>
                    </td>
                    <td>
                        <h4 class="moveright">Kontaktuppgifter</h4>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a class="moveright">
                            Telefon: <strong> @Model.Cvm.Phone</strong>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a class="moveright">
                            Mejl: <strong> @Model.Cvm.Email</strong>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>