@model pgDesign.ViewModels.ContactVM
@{
    ViewBag.Title = "Contact";
}
<div class="profile-body">
    <h2 class="text-center mb-4">Kontakta oss</h2>
    
     
    <div class="justify-content-center mt-5 mb-3 border shadow-lg">
            <div class=" col-md-8 center">
                <img src="@Model.Picture_Url" class="profile-pic center mt-3" style="max-width: 300px;" />
            </div>
            <h3 class="text-center mt-4 mb-4">@Model.Fname @Model.LName</h3>
        <hr />
            <p class="w-75 text-center center mt-3">
                <strong style="text-decoration: underline">Biografi</strong> <br />
                @Model.Biography
            </p>
            <p class="w-75 center text-center mt-3">
                <strong class="w-50 mt-4" style="text-decoration: underline">Hur du kan kontakta oss</strong>
                <br />
                @Model.ContactUs
            </p>

            <ul class="w-75 center text-center list-unstyled">
                <li>
                    <strong> E-post:</strong> <a href="#"> @Model.Email</a>
                </li>
                <li class="mt-3">
                    <strong>Telefon: </strong> <a href="#">@Model.Phone</a>
                </li>
            </ul>

            <div class="links justify-content-center mt-5 mb-5">
                <hr class="col-md-6"/>
                <ul class="icon-list text-center">
                    <li>
                        <img title="E-post" src="~/Images/Contact/mail.png" style="width: 50px;" />
                    </li>
                    <li>
                        <img title="Mobil" src="~/Images/Contact/phone.png" style="width: 50px;" />
                    </li>
                    <li>
                        <img title="Hitta oss" src="~/Images/Contact/navPin.png" style="width: 30px;" />
                    </li>
                </ul>
            </div>
        </div>
</div>



    <div class="modal" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Avvikande Öppettider</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="Mail-body col-md-12">
                        <h4 class="mt-2 text-center mb-3">Kontakta PG-Design</h4>
                        <div class="Mail-content">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group mt-3">
                                <label for="exampleTextarea">Meddelande</label>
                                <textarea class="form-control" id="exampleTextarea" rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 95px;"></textarea>
                            </div>

                            <button type="button" class="btn btn-primary float-right">Skicka</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Stäng</button>
                </div>
            </div>
        </div>
    </div>