@model IEnumerable<pgDesign.Models.Webshop>

@{
    ViewBag.Title = "PG Design AB - Webbhandel";
    
}

<h2 class="text-center">Webbhandel översikt</h2>
<hr />


    <div class="justify-content-center border shadow-lg bg-white table-responsive">

        <table class="table">
            <tr class="headElement">
                <th>
                </th>
                <th>
                    <div class="accListP"> @Html.DisplayNameFor(model => model.Name) </div>
                </th>
                <th>
                    <div class="accListP description"> @Html.DisplayNameFor(model => model.Description)</div>
                </th>
                <th>
                    <div class="accListP"> @Html.DisplayNameFor(model => model.Price)</div>
                </th>
                <th>
                    <button class="btn btn-primary float-right" onclick="location.href='@Url.Action("CreateWebshopItem", "Admin")'">Skapa en ny vara</button>
                </th>
            </tr>

            @foreach (var item in Model)
        {

            <tr class="border-bottom border-top border-secondary">
                <td>
                    <img src="@item.Picture_Url" style="max-height: 100px; max-width: 175px;" />
                </td>
                <td>
                    <p class="font-weight-bold" style="max-width: 136px;">@Html.DisplayFor(modelItem => item.Name)</p>
                </td>
                <td>
                    <p class="description" style="max-width:400px;">@Html.DisplayFor(modelItem => item.Description)</p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Redigera", "EditWebshopItem", new { id = @item.Id }, new { @class = "btn btn-secondary editBtn" }) 
                    @Html.ActionLink("Ta bort", "DeleteWebshopItem", new { id = item.Id }, new { @class = "btn btn-danger" }) 
                </td>
            </tr>
    }

        </table>
    </div>
           
    
   <style>
       #contentAdmin{
           padding: 1px 1px 1px 1px;
       }
   </style>
<script>
    $(document).on("click", ".open-modal", function () {
        var IdToDelete = $(this).data('id');
        $(".modal-body #itemId").val(IdToDelete);
        $('#addBookDialog').modal('show');

        $('#test').attr('id', 'itemId');
    });

</script>

