@model IEnumerable<pgDesign.Models.Webshop>

@{
    ViewBag.Title = "WebshopAdminList";
}

<h2>Webbhandel utbud</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Picture_Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="border-bottom border-top">
        <td>
            <img src="@item.Picture_Url" style="max-height: 100px; max-width: 175px;" />
        </td>
        <td>
           <p style="max-width: 136px;">@Html.DisplayFor(modelItem => item.Name)</p>
        </td>
        <td>
            <p style="max-width:400px;">@Html.DisplayFor(modelItem => item.Description)</p>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditWebshopItem", new { id=item.Id }) |
            @Html.ActionLink("Delete", "_DeleteWebshopItem", new { id=item.Id })
        </td>
    </tr>
}

</table>

    <button class="btn btn-primary float-right" onclick="location.href='@Url.Action("CreateWebshopItem", "Admin")'">Skapa en ny vara</button>
    

